<?xml version="1.0" encoding="UTF-8"?> <!-- Extra logging related to initialization of Log4j.  Set to debug or trace if log4j initialization is failing. -->
<Configuration status="WARN">
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>
    <Appenders>         <!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5p (%F:%L) - %m%n"/>
        </Console>
        <RollingFile name="DateRollingFileAppender" fileName="logs/Logfile-${date:yyyy-MM-dd, HH-mm-ss}/Mylogs.log"
                     filePattern="logs/${date:yyyy-MM-dd}/%logger{1}-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{ISO8601} [%t] %-5p (%F:%L) - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="500MB"/>
            </Policies>             <!-- Max 10 files will be created everyday -->
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${basePath}"
                        maxDepth="10">                     <!-- Delete all files older than 30 days -->
                    <IfLastModified age="30d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <logger name="com.BimaBharosa.base" level="info" additivity="true">
            <appender-ref ref="DateRollingFileAppender" level="info"/>
        </logger>         <!-- Root logger referring to console appender -->
        <Root level="info" additivity="true">
            <AppenderRef ref="console" level="info"/>
        </Root>
    </Loggers>
</Configuration>